<div class="row">
	<div class="col-md-4 col-xs-12 column">
		<div class="btn-group con-buttons">
			<a class="btn btn-default" href="/editcon/{{ conid }}">Edit Connection</a>
			<button class="btn btn-default" ng-click="testconnection(con)">Test Connection</button>
		</div>
		<dl class="dl-horizontal">
			<dt>Reference:</dt><dd>{{ con.ref }}</dd>
			<dt>ID:</dt><dd id="conid">{{ con.id }}</dd>
			<dt>Type:</dt><dd>{{ con.dbtype }}</dd>
			<dt>System Name:</dt><dd>{{ con.dbname }}</dd>
			<dt>Username:</dt><dd>{{ con.user }}</dd>
			<dt>Password:</dt><dd>{{ con.pass }}</dd>
			<dt>Host:</dt><dd>{{ con.host }}</dd>
			<dt>Port:</dt><dd>{{ con.port }}</dd>
		</dl>
		<legend>Data Tree</legend>
		<div ng-show="show_tree()" class="well tree-panel">
		  <div id="tree" data-url="/api/viewtree/{{ conid }}" jstree></div>
		</div>
	</div>
	
	<div class="col-md-8 col-xs-12">
		<div class="tree-display column">
		  <legend>Data Display</legend>
		  <dl id="description" class="dl-horizontal"></dl>
		</div>
	</div>
</div>