<!DOCTYPE html>
<html lang="en" ng-app="DbViewer">
  <head>
	{% block head %}
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <meta name="description" content="MySQL, SQLlite and MongoDB Viewer">
	  <meta name="author" content="Samuel Colvin">
	  <title>db-viewer</title>
	  <link rel="icon" type="image/png" href={{ url_for('static', filename='favicon.ico') }} />
    <link href={{ url_for('static', filename='libs/css/bootstrap.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='css/styles.css') }} rel="stylesheet">
    <link rel="stylesheet" href={{ url_for('static', filename='libs/css/jqtree.css') }}>
	{% endblock head %}
  </head>
  <body {% block body_attr %}{% endblock %}>    
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-cont">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">db-viewer</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Add DB</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Databases <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" ng-controller="DbListCtrl">
                {% raw %}
                <li ng-repeat="db in dbs"><a href="/db/{{ db.id }}">{{ db.name }}</a></li>
                {% endraw %}
              </ul>
            </li>
            <li><a href="#about">Edit DB Settings</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main">
    	<div ng-view></div>
    </div>
  	
	{% block js %}
  	<script src={{ url_for('static', filename='libs/js/jquery-1.11.0.min.js') }}></script>
  	<script src={{ url_for('static', filename='libs/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='libs/js/angular.js') }}></script>
    <script src={{ url_for('static', filename='libs/js/angular-route.js') }}></script>
    <script src={{ url_for('static', filename='libs/js/angular-resource.js') }}></script>
    <script src={{ url_for('static', filename='libs/js/tree.jquery.js') }}></script>
    <script src={{ url_for('static', filename='js/controller.js') }}></script>
  {% endblock %}
  </body>
</html>